.product-header{
  text-align: center;
}

.product-container-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.5em;
  gap: 1em;
}

.product-container-items-card {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  text-align: center;
}

.product-container-items-card img {
  max-width: 100%;
}