.menu-btn{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: inherit;
  color: var(--gold);
  font-size: 52px;
}

.close-btn {
  position: absolute;
  font-size: 40px;
  top: 15px;
  right: 35px;
  background-color: transparent;
  border: none;
}