.menu-btn {
  border: none;
  background-color: inherit;
  color: var(--gold);
}

.close-btn {
  position: absolute;
  font-size: 40px;
  top: 15px;
  right: 35px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 600px) {
  .menu-btn {
    display: none;
  }
}