.nav-bar {
  padding: 0.5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar .active {
  color: red;
}


@media (min-width: 600px) {
  .nav-bar {
    flex-direction: row;
  }
}