.nav-bar {
  /* padding: 0.5em 1em; */
  background-color: var(--champagne);
  position: fixed;
  width: 100%;
}

.nav-logo-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

.nav-links {
  /* display: none; */
  width: 0;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

.nav-bar .active {
  color: red;
}

.nav-bar .logo {
  color: var(--brown);
}

.nav-links.show-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
  /* width: 100; */
}

.overlay {
  height: 100%;
  display: none;
  width: 100;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay.show-links{
  display: flex;
  text-align: end;
  width: 100%;
  gap: 20px;
}

.overlay-content {
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  /* padding: 8px; */
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.menu-btn {
  border: none;
  background-color: inherit;
  color: var(--gold);
}

.close-btn {
  position: absolute;
  /* font-size: 40px; */
  top: 15px;
  right: 35px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 600px) {
  .nav-logo-and-button {
    flex-direction: row;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }

  .menu-btn {
    display: none;
  }
}