.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
  align-items: center;
  background-color: inherit;
  color: var(--green);
}

.footer a{
  text-decoration: none;
  color: inherit;
}