:root {
  --brown: #4A1E00;
  --green: #2C6E49;
  --gold: #D99A32;
  --champagne: #FFE8C9;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--champagne);
  color: var(--green);
}

.footer a{
  text-decoration: none;
  color: inherit;
}