.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
  background-color: inherit;
  color: var(--green);
}

.footer a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

#my-website-link, #my-website-link a{
  font-size: 12px
}